.c1 {
    background-color: red;
}

.list {
    background-color: blue;
    padding: 8px;

    .item {
        background-color: yellow;

        &:hover {
            background-color: yellowgreen
        }

        &.disabled {
            background-color: gray;
        }

        &+.item {
            margin-top: 8px;
        }
    }

    // &_cc {
    //     background-color: yellow;
    // }
}

.colorWhite {
    color: #fff;
}

.c2 {
    background-color: orange;
    composes: colorWhite;

    :global {
        .common-button1 {
            background-color: red;
        }
    }
}